*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: 20px;
}

header{
    width: 100%;
    height: 50px;
    background-color: #FF6900;
    display: flex;
    align-items: center;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.nav_header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.logo_header{
    width: 100px;
}

.login_area i{
    color: white;
    padding: 0 4px;
}



.row-main-container{
    width: 1170px;
    margin: auto;
    font-size: 0;
}


.div_img{
    width: calc(100% / 3 - 20px);
    position: relative;
    display: inline-block;
    margin: 50px 10px 0;
}

.div_img img{
    position: absolute;
    position: relative;
    width: 100%;
}

.description{
    color: black;
    height: 20px;
}

.brand_description{
    font-size: 15px;
}

.name_product{
    font-weight: bolder;
    font-size: 18px;
}


.price .new_price{
    color: #FF6900;
    font-weight: bolder;
}

.price .old_price{
    margin-left: 10px;
    text-decoration: line-through;
}

